#App {
  text-align: center;
  color: white;
}

.florange-logo {
  height: 400px;
  pointer-events: none;
  user-select: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 100px;
}

.App-footer {
  height: 100px;
}

.App-link {
  color: #61dafb;
}

.product-img {
  width: 400px;
}

.shopping-cart {
  position: fixed;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.contact-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: fixed;
  right: 16px;
  bottom: 16px;
  height: 40px;
  justify-content: space-between;
}

.product-variants {
}

.size {
  display: inline;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
}

.selected {
  font-weight: 800;
}

a {
  color: white;
}
