html {
  background-color: #e9be58;
}

.container {
  position: fixed;
  background-color: #283f6b;
  height: 100vh;
  z-index: -1;
  overflow: scroll;
}

.bg-img {
  object-fit: cover;
  user-select: none;
  position: fixed;
  /* z-index: -1; */
}

.bg-vid {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
}

.bg-color {
  position: fixed;
  background-color: rgba(65, 105, 225, 0.295);
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  /* z-index: auto; */
}

#App {
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.florange-logo {
  height: 400px;
  pointer-events: none;
  user-select: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 50px;
}

.made-by-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 108px;
  margin-bottom: 14px;
}

.site-by {
  font-size: 12px;
}

.mswsn-logo {
  height: 12px;
}

.App-link {
  color: #61dafb;
}

.product-img {
  cursor: pointer;
  width: 300px;
}

.shopping-cart {
  position: fixed;
  right: 16px;
  top: 16px;
  cursor: pointer;
  font-size: 18px;
}

.shopping-cart:hover {
  color: #e9be58;
}

.contact-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: fixed;
  right: 16px;
  bottom: 16px;
  height: 50px;
  justify-content: space-between;
  font-size: 18px;
}

.product {
  margin-bottom: 70px;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.product-details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  font-size: 30px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-variants-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.product-variants-dropdown {
  width: 200px;
  color: #283f6b;
  opacity: 0.85;
  background-color: green;
  margin-bottom: 10px;
}

.size {
  cursor: pointer;
  font-size: 20px;
  width: 80px;
}

.size:hover {
  font-weight: 800;
  color: #e9be58;
}

.selected {
  width: 80px;
  font-weight: 800;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
}

.add-to-cart {
  height: 25px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 5px;
}

.add-to-cart-noselect {
  height: 25px;
  width: 100px;
  font-size: 14px;
  padding-bottom: 5px;
}

.add-to-cart:hover {
  border-bottom: 2px solid #e9be58;
  padding-bottom: 3px;
  color: #e9be58;
}

.sold-out {
  height: 25px;
  font-size: 20px;
  padding-bottom: 5px;
}

a {
  color: white;
  fill: white;
  text-decoration: none;
}

a:hover {
  color: #e9be58;
  fill: #e9be58;
}

.cart-contents {
  width: 90vw;
  max-width: 500px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.remove-item {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  grid-column: 1 / 2;
  width: 20px;
  margin-right: 20px;
}

.remove-item:hover {
  color: #e9be58;
}

.item-quantity {
  width: 30px;
  margin-right: 20px;
}

.item-image {
  width: 70px;
  margin-right: 20px;
}

.item-name {
  width: 150px;
  margin-right: 20px;
}

.item-size {
  width: 70px;
  margin-right: 20px;
}

.item-price {
  grid-column: 6 / 7;
}

.close-modal {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  font-size: 16px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.close-modal:hover {
  color: #e9be58;
}

.modal-header {
}

.modal-footer {
  margin-top: 70px;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-price {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.checkout-btn {
  cursor: pointer;
  text-align: center;
  width: 180px;
  font-size: 24px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.checkout-btn:hover {
  color: #e9be58;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  width: 85vw;
  height: 80vh;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slick-track .slick-slide {
  display: flex !important;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.slideImg {
  max-width: 100%;
  max-height: 75vh;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
